<!-- header -->
<section class="section-outer section-header">
  <div class="section-inner">
    <div class="section-header-toolbar">
      <div class="section-header-logo">circular</div>
      <div class="section-header-menu">
      <div class="section-header-menu-item">home</div>
      <div class="section-header-menu-item">the product</div>
      <div class="section-header-menu-item">features</div>
      <div class="section-header-menu-item">testimonials</div>
      <div class="section-header-menu-item">download</div>
      <div class="section-header-menu-item">contact us</div>
      </div>
      <div class="lang">EN</div>
    </div>
    <div class="section-header-content">
      <div class="section-header-wrapper">
        <div class="section-header-wrapper-title">meet circular.</div>
        <div class="section-header-wrapper-subtitle">this is agency of the future.</div>
        <div class="section-header-wrapper-buttons">
          <div class="section-header-wrapper-buttons-button">
            <button class="btn-1">video presentation</button>
          </div>
          <div class="section-header-wrapper-buttons-button">
            <button class="btn-2">learn more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / header -->

<!-- about -->
<section class="section-outer section-about">
  <div class="section-inner">
    <div class="section-about-1">
      <div class="section-about-1-content-1">
        <div class="section-about-1-content-1-title">what makes us a special agency</div>
        <div class="section-about-1-content-1-subtitle">Lorem, ipsum dolor.</div>
      </div>
      <div class="section-about-1-content-2">
        <div class="section-about-1-content-2-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat,
          distinctio.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat, distinctio.
          Lorem ipsum, dolor sit amet consectetur. Fugiat, distinctio.
        </div>
      </div>
    </div>
    <div class="section-about-2">
      <div class="section-about-2-box">
        <div class="icon">
          <img src="../assets/img/circle.svg" alt="circle">
        </div>
        <div class="title">Hight quality</div>
        <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, modi.</div>
      </div>
      <div class="section-about-2-box">
        <div class="icon">
          <img src="../assets/img/circle.svg" alt="circle">
        </div>
        <div class="title">Hight quality</div>
        <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, modi.</div>
      </div>
      <div class="section-about-2-box">
        <div class="icon">
          <img src="../assets/img/circle.svg" alt="circle">
        </div>
        <div class="title">Hight quality</div>
        <div class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic, modi.</div>
      </div>
    </div>
  </div>
</section>
<!-- / about -->

<!-- project -->
<section class="section-outer section-project">
  <div class="section-inner">
    <div class="section-project-1">
      <div class="section-project-1-title">we raised the bar</div>
      <div class="section-project-1-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi
        reiciendis, eum eos exercitationem sint asperiores esse sapiente blanditiis animi doloremque, enim molestias
        cumque et eius assumenda, voluptates voluptatibus quam dolorem officiis quas architecto suscipit vitae
        reprehenderit! Explicabo, consectetur sint.</div>

    </div>
    <div class="section-project-2">
      <div class="section-project-2-title">Lorem ipsum dolor sit amet consectetur.</div>
      <div class="section-project-2-icons">
        <div class="section-project-2-icons-icon">
          <div class="section-project-2-icons-icon-img">
            <img src="../assets/img/circle.svg" alt="">
          </div>
          <div class="section-project-2-icons-icon-name">one</div>
        </div>
        <div class="section-project-2-icons-icon">
          <div class="section-project-2-icons-icon-img">
            <img src="../assets/img/circle.svg" alt="">
          </div>
          <div class="section-project-2-icons-icon-name">two</div>
        </div>
        <div class="section-project-2-icons-icon">
          <div class="section-project-2-icons-icon-img">
            <img src="../assets/img/circle.svg" alt="">
          </div>
          <div class="section-project-2-icons-icon-name">three</div>
        </div>
        <div class="section-project-2-icons-icon">
          <div class="section-project-2-icons-icon-img">
            <img src="../assets/img/circle.svg" alt="">
          </div>
          <div class="section-project-2-icons-icon-name">four</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / project -->

<!-- work -->
<section class="section-outer section-work">
  <div class="section-inner">
    <div class="section-work-project">
      <div class="section-work-image">
        <img src="../assets/img/work.jpg" alt="">
        <div class="section-work-image-title">PROJECT'S NAME</div>
        <div class="section-work-image-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing.</div>
      </div>
      <div class="sectio-work-slider"></div>
    </div>
    <div class="section-work-about">
      <div class="section-work-about-1">
        <div class="section-work-about-1-title">work with us</div>
        <div class="section-work-about-1-subtitle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi,
          praesentium. Provident quis, deserunt vitae modi quae itaque nulla perspiciatis tenetur!</div>
        <div class="section-work-about-1-email">ikova.ua@gmail.com</div>
      </div>
      <div class="section-work-about-2">
        <div class="section-work-about-2-icon">
          <img src="../assets/img/circle.svg" alt="">
        </div>
        <div class="section-work-about-2-title">your name</div>
        <div class="section-work-about-2-subtitle">product descript</div>
      </div>
    </div>

  </div>
</section>
<!-- / work -->

<!-- connect -->
<section class="section-outer section-connect">
  <div class="section-inner">
    <div class="section-connect-content">
      <div class="section-connect-content-title">let's connect</div>
      <div class="section-connect-content-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
        maiores!</div>

      <div class="section-connect-content-find">
        <div class="section-connect-content-find-title">
          Lorem ipsum dolor sit amet consectetur.
        </div>
        <div class="section-connect-content-find-boxs">
          <div class="section-connect-content-find-title-box">
            <div class="section-connect-content-find-title-box-icon ">
              <img src="../assets/img/find.svg" alt="">
            </div>
            <div class="section-connect-content-find-title-box-text ">find</div>
          </div>
          <div class="section-connect-content-find-title-box">
            <div class="section-connect-content-find-title-box-icon">
              <img src="../assets/img/smartphone.svg" alt="">
            </div>
            <div class="section-connect-content-find-title-box-text">smartphone</div>
          </div>
        </div>
      </div>

    </div>
    <div class="section-connect-feedback">
      <div class="section-connect-feedback-map">
        <img src="../assets/img/map.jpg" alt="">
      </div>
      <div class="section-connect-feedback-form">
        <div class='section-connect-feedback-form-input'>
          <div class='section-connect-feedback-form-label'>enter name</div>
          <input name='name' type="text" placeholder='enter name' />
        </div>
        <div class='section-connect-feedback-form-input'>
          <div class='section-connect-feedback-form-label'>enter phone</div>
          <input type="text" placeholder='enter phone' />
        </div>
        <div class='section-connect-feedback-form-input'>
          <div class='section-connect-feedback-form-label'>enter email</div>
          <input type="text" placeholder='enter email' />
        </div>
        <div class='section-connect-feedback-form-button'>
          <input type="button" value='send' />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / connect -->

<!-- footer -->
<section class="section-outer section-footer">
  <div class="section-inner">
    <div class="section-footer-logo">meet circus</div>
    <div class="section-footer-nav">
      <div class="section-footer-nav-item">home</div>
      <div class="section-footer-nav-item">the product</div>
      <div class="section-footer-nav-item">features</div>
      <div class="section-footer-nav-item">testimonials</div>
      <div class="section-footer-nav-item">download</div>
      <div class="section-footer-nav-item">contact us</div>
    </div>
    <div class="section-footer-social">
      <div class="section-footer-social-item">
        <div class="section-footer-social-item-icon">
          <img src="../assets/img/gmail.svg" alt="social">
        </div>
        <div class="section-footer-social-item-icon">
          <img src="../assets/img/instagram.svg" alt="social">
        </div>
        <div class="section-footer-social-item-icon">
          <img src="../assets/img/gmail.svg" alt="social">
        </div>
        <div class="section-footer-social-item-icon">
          <img src="../assets/img/instagram.svg" alt="social">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / footer -->